<p id="notice"><%= notice %></p>
<h1>Hotel Details</h1>
<p>
  <strong>Location:</strong>
  <%= @hotel.location %>
  <br>
  <%=image_tag"http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@hotel.latitude}%2C#{@hotel.longitude}"%>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hotel.email %>
</p>



<br>

