<!DOCTYPE html>
<html>
<head>
  <title>Hotel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div id = "banner">
	<%=image_tag("5page-img1.png", :size=>"90x80")%>
	<%="Hotel"%>	
</div>


<div id="nav">
	<ul>
		<li><%=link_to"Home","#"%></li>
		<li><%=link_to"Rooms", rooms_path%></li>
		<li><%=link_to"Make a Booking", new_booking_path%></li>
	</ul>
</div>

<%= yield %>


</html>
